<div *ngIf='!customer'>
    <h4>Customer not found</h4>
</div>
<div *ngIf='customer'>
<h4>Customers</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="thead-dark">
            <th>Customer Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Address</th>
            <th>Emails</th>
            <th>Phone Numbers</th>
            <th>Partner Name</th>
            <th>Update</th>
            <th>Deactivate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.date}}</td>
            <td>{{customer.status}}</td>
            <td>{{customer.addresses}}</td>
            <td>{{customer.emails}}</td>
            <td>{{customer.phoneNumbers}}</td>
            <td>{{customer.partnerName}}</td>
            <td><button type="button" class="btn btn-primary" (click)='update(customer)'>Update</button></td>
            <td><button type="button" class="btn btn-danger" (click)='delete(customer.id)'>Deactivate</button></td> 
        </tr>
    </tbody>
</table>
</div>
